* {
    margin :  0;
    padding: 0;

}

@import "../scss/base/responsive";
@import "../scss/base/grilla";
@import "../scss/base/titulos";
@import "../scss/base/flex";

body {
    width: 100%;
    height: 100vh;
    background-color: beige;
    
}  