.menuFlex {
    display: flex;
    flex-flow: column nowrap;
}

.tutorialesFlex {
    display: flex;
    flex-flow: row nowrap;
}

.formFlex {
    display: flex;
    flex-flow: column nowrap;
}

.cafeteriasFlex {
    display: flex;
    flex-flow: row nowrap;
}

.cafeFlex {
    display: flex;
    flex-flow: row wrap;
}